/* GENERAL */

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
  }

  main{
    overflow-y: auto;
    width:calc(100% - 70px);
  }

  :root {
    --white: #ffffff;
    --black: #080808;
    --red: #ff0000;
    --green: #008000;
    --gray: #808080;
    --light-gray: #d6d6d6;
    --purple: #800080;
    --pink: #ffc0cb;
    --brown: #a52a2a;
    --light-blue: #b4d0e7;
    --blue: #2e2ec1;
    --sky-light-blue: #52a6e7;
    --pastel-green: #a2d39b;
    --pastel-green-secondary: #c7f6c1;
    --aubergine: #61082b;
    --sky-blue: #0093ce;
    --bright-red: #ff1c1c;
    --darker-red: #c80606;
    --lighter-blue: #288ff6;
    --dark-blue: #1a1a8a;
    --yellow: #eeba72;
    --light-purple: #9792e4;
  }

.pad-left-5px{
  padding-left:5px;
}



  /* header */
  .img_max{
    max-width: 100%;
  }
  
  .header{
    height: 80px;
  }


/* /header */

/* side bar */

.left_sidebar{
  height: calc(100vh - 80px);
  width:70px;
  background-image: url(../assets/img/sidebar-bg.png); 
  margin: 0;
  background-color:#13293F;
}


/* /sidebar */

/* main */
#display_page{
  height: calc(100vh - 80px);
  overflow: auto;
  width: 100%;
}

#offcanvas{
  width: 100%;
}

/* next classes */

#next_classes{
  /* height:550px; */
}

/* faq */
#faq{
  /*height: 250px; */
 
   
}
/* hover */
.navbar-expand .navbar-nav .nav-link:hover {
  
  background-color:rgba(255, 255, 255, 0.5);
}


@media (min-width: 992px) {

  .left_sidebar{
      width: 150px;
     
  }
  
  #offcanvas{
    width: 50%;
  }

  
} 